*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
}

#site_header{
    height: 8rem;
    background-color: aqua;
}

.main_image{
    height: 400px;
    background-color: blanchedalmond;
    margin: 15px 0;
}

.title{
    height: 6rem;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}